<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Ferns and Patels UI Automation">

  <parameter name = "browser" value= "Chrome"/>
  <parameter name = "env" value= "qa"/>
  <parameter name = "market" value= "IN"/>
  <test name = "UI Scenarios 1">
  <classes>
   <class name= "com.test.fnp.TestClass1" >
     <methods> 
      <!-- <include name="verifyMainPage"></include> -->
        <include name="verifyDeliveryLocation"></include>
     </methods >
  
  </class>

 </classes>
 </test>
</suite>